body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.header{
    color: white;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 250px 150px 250px;
    gap: 40px;
}

.top-header, .bottom-header, .header-links{
    display: flex;
}

.top-header, .bottom-header{
    align-items: center;
}

.top-header{
    justify-content: space-between;
}

.bottom-header{
    justify-content: space-between;
    gap: 20px;
}

/*TOP HEADER*/
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header-links{
    gap: 20px;
}

/*BOTTOM HEADER*/
.description-text{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: auto;
    gap: 5px;
}


.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text,a{
    font-size: 18px;
    color: #E5E7EB;
    
}

.place-holder{
    display: flex;
    width: 600px;
    height: 200px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.sign-btn{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    align-self: center;
}