body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header{
    color: white;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.top-header, .bottom-header{
    display: flex;
}

.place-holder{
    display: flex;
    height: 200px;
    width: auto;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

li{
    list-style: none;
}